<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b8da">  <td>20/08/24 13:23:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseEshop.testSetup()[pri:0, instance:testEshop.TestCaseEshop@76b07f29]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@154173878</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>20/08/24 13:23:32</td>   <td>12169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseEshop.testEshop()[pri:0, instance:testEshop.TestCaseEshop@76b07f29]">testEshop</td> 
  <td>main@154173878</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>20/08/24 13:24:06</td>   <td>46171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseEshop.teardown()[pri:0, instance:testEshop.TestCaseEshop@76b07f29]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@154173878</td>   <td></td> </tr>
</table>
