<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58d72">  <td>20/08/24 11:08:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseEshop.teardown()[pri:0, instance:testEshop.TestCaseEshop@4007f65e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@959629210</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/08/24 11:09:44</td>   <td>79120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.teardown()[pri:0, instance:Base.Base@72bc6553]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@959629210</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>20/08/24 11:07:40</td>   <td>-45047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseEshop.testEshop()[pri:0, instance:testEshop.TestCaseEshop@4007f65e]">testEshop</td> 
  <td>main@959629210</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/08/24 11:08:45</td>   <td>20704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Base.testEshop()[pri:0, instance:Base.Base@72bc6553]">testEshop</td> 
  <td>main@959629210</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>20/08/24 11:07:25</td>   <td>-59232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseEshop.testSetup()[pri:0, instance:testEshop.TestCaseEshop@4007f65e]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@959629210</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>20/08/24 11:08:26</td>   <td>1358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.testSetup()[pri:0, instance:Base.Base@72bc6553]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@959629210</td>   <td></td> </tr>
</table>
