<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb575">  <td>20/08/24 11:14:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseEshop.testSetup()[pri:0, instance:testEshop.TestCaseEshop@4d0d9fe7]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@1263668904</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>20/08/24 11:14:43</td>   <td>14990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseEshop.testEshop()[pri:0, instance:testEshop.TestCaseEshop@4d0d9fe7]">testEshop</td> 
  <td>main@1263668904</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>20/08/24 11:15:41</td>   <td>72796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseEshop.teardown()[pri:0, instance:testEshop.TestCaseEshop@4d0d9fe7]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1263668904</td>   <td></td> </tr>
</table>
